{% extends "blog/header_footer.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
  {% if user.is_authenticated %}
    <a href="{% url 'blog_logout' %}">Salir</a>
    <a href="{% url 'blog_create' %}">Nuevo Blog</a>
    <a href="{% url 'blogUser_profile' user.id %}">Perfil {{user.username}}</a>
  {% else %}
    <a href="{% url 'blog_login' %}">Entrar</a>
    <a href="{% url 'blogUser_signup' %}">Crear Cuenta</a>
  {% endif %}
  
<h2>"No Autorizado, contactese con el administrador del sitio. Mucha gracias</h2>
  
{% endblock %}