{% extends "blog/header_footer.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
  {% if user.is_authenticated %}
    <a href="{% url 'blog_logout' %}" <button type="button" class="btn btn-secondary"></button>Salir</a>
    <a href="{% url 'blog_create' %}" <button type="button" class="btn btn-secondary"></button>Nuevo Blog</a>
    <a href="{% url 'blog_list' %}" <button type="button" class="btn btn-secondary"></button>Volver a Lista</a>
    <a href="{% url 'blogUser_profile' user.id %}" <button type="button" class="btn btn-secondary"></button>Perfil {{user.username}}</a>

  {% else %}
    <a href="{% url 'blog_login' %}" <button type="button" class="btn btn-secondary"></button>Entrar</a>
    <a href="{% url 'blogUser_signup' %}" <button type="button" class="btn btn-secondary"></button>Crear Cuenta</a>
  {% endif %}
  
<h2>"No Autorizado, contactese con el administrador del sitio. Mucha gracias</h2>
  
{% endblock %}